# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.cpython-*
# Environment files
.env
.env.*

# Virtual environments
venv/
myenv/

# IDE settings
.idea/
.vscode/

# SQLite databases
*.sqlite3
db.sqlite3

# Media
media/

# Django migration cache
migrations/__pycache__/
