# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.cpython-*
 
# Virtual environments
venv/
myenv/
 
# IDE settings
.idea/
.vscode/
 
# SQLite databases
*.sqlite3
db.sqlite3
 
# Media
media/
 
# Django migration cache
migrations/__pycache__/

# Secret environment variables
.env