# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.cpython-*

# Virtual environments
venv/
myenv/

# IDE settings
.idea/
.vscode/
#Need some more changes
# SQLite databases
*.sqlite3
db.sqlite3s

# Media
media/

# Django migration cache
migrations/__pycache__/
