# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model files
*.joblib

# Ignore dataset files (optional — only if you don't want to track data.csv)
data.csv

# Ignore IDE/project-specific files
.idea/
.vscode/
*.xml

# Ignore virtual environments
venv/
.env/
